.header {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background: #46dbe3;
    border-bottom: 3px solid #4b574d;
}

.header-title {
    font-size: 40px;
    line-height: 1.9;
}
